parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property WP_User\:\:\$display_name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Admin/CachePage.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$post_title\.$#'
			identifier: property.notFound
			count: 1
			path: src/Admin/FieldsPage.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$post_title\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cache/CacheResolver.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$post_title\.$#'
			identifier: property.notFound
			count: 1
			path: src/Config/Ajax/AjaxHandler.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$post_mime_type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Fields/File.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$post_title\.$#'
			identifier: property.notFound
			count: 1
			path: src/Fields/File.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$post_title\.$#'
			identifier: property.notFound
			count: 2
			path: src/Fields/PostCheckboxes.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$post_title\.$#'
			identifier: property.notFound
			count: 1
			path: src/Fields/PostSelect.php

		-
			message: '#^Access to an undefined property WP_User\:\:\$display_name\.$#'
			identifier: property.notFound
			count: 2
			path: src/Fields/UserCheckboxes.php
