parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property WP_Post_Type\:\:\$labels\.$#'
			identifier: property.notFound
			count: 1
			path: src/Admin/CachePage.php

		-
			message: '#^Access to an undefined property WP_Post_Type\:\:\$labels\.$#'
			identifier: property.notFound
			count: 2
			path: src/Admin/DashboardPage.php

		-
			message: '#^Access to an undefined property WP_Post\:\:\$post_mime_type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Fields/File.php

		-
			message: '#^Access to an undefined property WP_Post_Type\:\:\$cap\.$#'
			identifier: property.notFound
			count: 1
			path: src/Meta/MetaBox.php

		-
			message: '#^Access to an undefined property WP_Post_Type\:\:\$label\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Integration/PostType/PostTypeRegistrationTest.php
